body {
    display: flex;
    flex-direction: column;
}
.banner {
    display: flex;
    flex-direction: column;
}
.bannerTitle {
    display: flex;
    justify-content: center;
}
.bannerPlayers {
    display: flex;
    justify-content: space-around;
}

.enemy, .player {
    display: flex;
    gap: 10px
}

.mainSpace {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 900px;
    height: 900px;
}

.gridSquare {
    display: flex;
    border: 2px solid black;
    width: 290px;
    height: 290px;
    margin: 0px;
    align-items: center;   
    font-size: 26px;
    font-weight: 900;
    justify-content: center;
}

.gridSquare:hover {
    cursor: pointer;
}

.footer {
    padding-top: 50px;
    text-align: center;
}